// Fonts
@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaCyrillicBook.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaCyrillicMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

// Colors
$blanco: #ffffff;
$negro: #000000;
$amarillo: #fbffa7;
$naranja: #ff764d;
$celeste: #b1c5ff;
$violeta: #d5b3ff;
$verde: #b6ffc0;
$azul: #0000ff;